

<div class="container center-row1">
	<div class="row">
		
		<div class="col-sm-2">
		</div>
			
			<div class="col-sm-8">		
				<table class="table table-striped">
						<tr>
							<td> <h5> Band </h5> </td>
							<td> <h5> Venue </h5> </td>
							<td> <h5> City </h5> </td>
							<td> <h5> Date </h5> </td>
							<td> <h5> Price </h5> </td>
						</tr>
						<tr>
							<td><%= @concert.band %></td>
							<td><%= @concert.venue %></td>
							<td><%= @concert.city %></td>
							<td><%= @concert.date %></td>
							<td><%= @concert.price %></td>
						</tr>
				</table>

				<%= link_to("Volver", concerts_path, class: "btn btn-success boton_save") %>

				<%= link_to("Agregar", new_concert_path, class: "btn btn-primary boton_save") %>
			</div>

			<div class="col-sm-2">
			</div>

	</div>
</div>
